# Copyright (c) 2026 DEKB

if BOARD_DE_CORE_NRF52

config BOARD
    default "de_core_nrf52"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif 