#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include "white_common.overlay"

#define WHITE_MAP_UPPER_ANSI UPPER_MAP
#define WHITE_LAYOUT_UPPER_ANSI UPPER_LAYOUT

/ {

    chosen {
        zmk,battery = &fuelgauge;
        // zmk,battery = &vbatt;
    };

    // White ANSI 7U Layout
    white_ansi_7u_wk_transform: white_ansi_7u_wk_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            WHITE_MAP_UPPER_ANSI
            RC(8,0) RC(9,0) RC(8,1)                         RC(9,3)                                 RC(8,5) RC(9,6) RC(8,6) 
        >;
    };

    layout_white_space_7u_wk: layout_white_space_7u_wk {
        compatible = "zmk,physical-layout";
        display-name = "WHITE 7U WK";
        transform = <&white_ansi_7u_wk_transform>;

        keys =  WHITE_LAYOUT_UPPER_ANSI
                , SPC_7U_WK;
    };

    white_ansi_7u_wkl_transform: white_ansi_7u_wkl_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            WHITE_MAP_UPPER_ANSI
            RC(8,0)         RC(8,1)                         RC(9,3)                                 RC(8,5)         RC(8,6) 
        >;
    };

    layout_white_space_7u_wkl: layout_white_space_7u_wkl {
        compatible = "zmk,physical-layout";
        display-name = "WHITE 7U WKL";
        transform = <&white_ansi_7u_wkl_transform>;

        keys =  WHITE_LAYOUT_UPPER_ANSI
                , SPC_7U_WKL;
    };

    white_ansi_7u_hhkb_transform: white_ansi_7u_hhkb_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            WHITE_MAP_UPPER_ANSI
                    RC(9,0) RC(8,1)                         RC(9,3)                                 RC(8,5) RC(9,6) 
        >;
    };

    layout_white_space_7u_hhkb: layout_white_space_7u_hhkb {
        compatible = "zmk,physical-layout";
        display-name = "WHITE 7U HHKB";
        transform = <&white_ansi_7u_hhkb_transform>;

        keys =  WHITE_LAYOUT_UPPER_ANSI
                , SPC_7U_HHKB;
    };

    // White ANSI 10U Layout
    white_ansi_10u_wk_transform: white_ansi_10u_wk_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            WHITE_MAP_UPPER_ANSI
            RC(8,0) RC(9,0)                                  RC(9,3)                                        RC(9,6) RC(8,6) 
        >;
    };

    layout_white_space_10u_wk: layout_white_space_10u_wk {
        compatible = "zmk,physical-layout";
        display-name = "WHITE 10U WK";
        transform = <&white_ansi_10u_wk_transform>;

        keys =  WHITE_LAYOUT_UPPER_ANSI
                , SPC_10U_WK;
    };

    white_ansi_10u_wkl_transform: white_ansi_10u_wkl_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            WHITE_MAP_UPPER_ANSI
            RC(8,0)                                          RC(9,3)                                                RC(8,6) 
        >;
    };

    layout_white_space_10u_wkl: layout_white_space_10u_wkl {
        compatible = "zmk,physical-layout";
        display-name = "WHITE 10U WKL";
        transform = <&white_ansi_10u_wkl_transform>;

        keys =  WHITE_LAYOUT_UPPER_ANSI
                , SPC_10U_WKL;
    };

    white_ansi_10u_hhkb_transform: white_ansi_10u_hhkb_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            WHITE_MAP_UPPER_ANSI
                    RC(9,0)                                  RC(9,3)                                        RC(9,6) 
        >;
    };

    layout_white_space_10u_hhkb: layout_white_space_10u_hhkb {
        compatible = "zmk,physical-layout";
        display-name = "WHITE 10U HHKB";
        transform = <&white_ansi_10u_hhkb_transform>;

        keys =  WHITE_LAYOUT_UPPER_ANSI
                , SPC_10U_HHKB;
    };

};