/*
 * Copyright (c) 2026 DEKB
 * SPDX-License-Identifier: MIT
 */

#include "../common.keymap"

#define WIN 0
#define WFN 1
#define MAC 2
#define MFN 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Win";
            bindings = <
&gresc     &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL &kp BSLH  &kp DEL
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT  &kp BSPC
&kp CAPS   &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT             &kp ENTER
&kp LSHFT  &kp NUBS  &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp UP    &mo WFN
&kp LCTRL  &kp LGUI  &kp LALT                                &kp SPACE                     &kp RALT  &mo WFN   &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        win_function_layer {
            label = "Win Function";
            bindings = <
&kp GRAVE &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12   &DE_BLD    &trans
&DE_USB   &DE_BT1   &DE_BT2   &DE_BT3   &none     &none     &none     &none     &none     &none     &none     &UGSPD    &UGSPI    &none
&DE_BAT   &none     &none     &DE_OZW   &none     &none     &none     &none     &none     &none     &UGHUD    &UGHUI              &UGTOG
&DE_SLP   &none     &none     &none     &none     &none     &none     &none     &none     &UGSAD    &UGSAI    &none     &UGBRI    &trans
&DE_OUT   &none     &to MAC                                 &none                         &none     &none     &UGEFR    &UGBRD    &UGEFF
            >;
        };

        mac_layer {
            label = "Mac";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans              &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &mo MFN
&kp LCTRL &kp LALT  &kp LGUI                                &trans                        &trans    &mo MFN   &trans    &trans    &trans
            >;
        };

        mac_function_layer {
            label = "Mac Function";
            bindings = <
&kp GRAVE &kp C_BRI_DN &kp C_BRI_UP &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS &kp C_AC_SEARCH &kp GLOBE &kp C_PREV &kp C_PP &kp C_NEXT &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &DE_BLD &trans
&DE_USB   &DE_BT1   &DE_BT2   &DE_BT3   &none     &none     &none     &none     &none     &none     &none     &UGSPD    &UGSPI    &none
&DE_BAT   &none     &none     &DE_OZW   &none     &none     &none     &none     &none     &none     &UGHUD    &UGHUI              &UGTOG
&DE_SLP   &none     &none     &none     &none     &none     &none     &none     &none     &UGSAD    &UGSAI    &none     &UGBRI    &trans
&DE_OUT   &to WIN   &none                                   &none                         &none     &none     &UGEFR    &UGBRD    &UGEFF
            >;
        };

        layer_4 { status = "reserved"; };
        layer_5 { status = "reserved"; };

    };
};
