#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include "common.overlay"

#define _RC(x, y)
#define NO(x) (64-x)

/ {
    // ANSI 7U BS 2U RSHIFT 1.75U 
    ansi_7u_bs2u_rs175u_transform: ansi_7u_bs2u_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            RC(0,0) RC(1,0) RC(0,1) RC(1,1) RC(0,2) RC(1,2) RC(0,3) RC(1,3) RC(0,4) RC(1,4) RC(0,5) RC(1,5) RC(0,6) RC(1,6) 
            RC(2,0) RC(3,0) RC(2,1) RC(3,1) RC(2,2) RC(3,2) RC(2,3) RC(3,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(2,6) RC(3,6) 
            RC(4,0) RC(5,0) RC(4,1) RC(5,1) RC(4,2) RC(5,2) RC(4,3) RC(5,3) RC(4,4) RC(5,4) RC(4,5) RC(5,5)         RC(4,6) 
            RC(6,0)         RC(6,1) RC(7,1) RC(6,2) RC(7,2) RC(6,3) RC(7,3) RC(6,4) RC(7,4) RC(6,5) RC(7,5) RC(6,6) RC(7,6) 
            RC(8,0) RC(9,0) RC(8,1)                         RC(9,3)                         RC(9,5)         RC(9,6) RC(8,6) 
        >;
    };

    ansi_7u_bs2u_rs175u: ansi_7u_bs2u_rs175u {
        compatible = "zmk,physical-layout";
        display-name = "ANSI(7U)_BS(2U)_RSFT(1.75U)";
        transform = <&ansi_7u_bs2u_rs175u_transform>;

        keys =    ROW0_FIXED , ROW0_BS_2U
                , ROW1_FIXED , ROW1_ANSI
                , ROW2_FIXED , ROW2_ANSI 
                , ROW3_ANSI  , ROW3_FIXED , ROW3_RS_175U
                , SPC_7U;
    };

    // ANSI 7U BS 1U RSHIFT 1.75U 
    ansi_7u_bs1u_rs175u_transform: ansi_7u_bs1u_rs175u_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            RC(0,0) RC(1,0) RC(0,1) RC(1,1) RC(0,2) RC(1,2) RC(0,3) RC(1,3) RC(0,4) RC(1,4) RC(0,5) RC(1,5) RC(0,6) RC(1,6) RC(5,6)
            RC(2,0) RC(3,0) RC(2,1) RC(3,1) RC(2,2) RC(3,2) RC(2,3) RC(3,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(2,6) RC(3,6) 
            RC(4,0) RC(5,0) RC(4,1) RC(5,1) RC(4,2) RC(5,2) RC(4,3) RC(5,3) RC(4,4) RC(5,4) RC(4,5) RC(5,5)         RC(4,6) 
            RC(6,0)         RC(6,1) RC(7,1) RC(6,2) RC(7,2) RC(6,3) RC(7,3) RC(6,4) RC(7,4) RC(6,5) RC(7,5) RC(6,6) RC(7,6) 
            RC(8,0) RC(9,0) RC(8,1)                         RC(9,3)                                 RC(9,5) RC(9,6) RC(8,6) 
        >;
    };

    ansi_7u_bs1u_rs175u: ansi_7u_bs1u_rs175u {
        compatible = "zmk,physical-layout";
        display-name = "ANSI(7U)_BS(1U)_RSFT(1.75U)";
        transform = <&ansi_7u_bs1u_rs175u_transform>;

        keys =    ROW0_FIXED , ROW0_BS_1U
                , ROW1_FIXED , ROW1_ANSI
                , ROW2_FIXED , ROW2_ANSI 
                , ROW3_ANSI  , ROW3_FIXED , ROW3_RS_175U
                , SPC_7U;
    };

    // ANSI 7U ARROW BS 2U RSHIFT ARROW
    ansi_7u_arrow_bs2u_rsarrow_transform: ansi_7u_arrow_bs2u_rsarrow_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            RC(0,0) RC(1,0) RC(0,1) RC(1,1) RC(0,2) RC(1,2) RC(0,3) RC(1,3) RC(0,4) RC(1,4) RC(0,5) RC(1,5) RC(0,6) RC(1,6) 
            RC(2,0) RC(3,0) RC(2,1) RC(3,1) RC(2,2) RC(3,2) RC(2,3) RC(3,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(2,6) RC(3,6) 
            RC(4,0) RC(5,0) RC(4,1) RC(5,1) RC(4,2) RC(5,2) RC(4,3) RC(5,3) RC(4,4) RC(5,4) RC(4,5) RC(5,5)         RC(4,6) 
            RC(6,0)         RC(6,1) RC(7,1) RC(6,2) RC(7,2) RC(6,3) RC(7,3) RC(6,4) RC(7,4) RC(6,5) RC(7,5) RC(6,6) RC(7,6) 
            RC(8,0) RC(9,0) RC(8,1)                         RC(9,3)                         RC(9,5) RC(8,5) RC(9,6) RC(8,6) 
        >;
    };

    ansi_7u_arrow_bs2u_rsarrow: ansi_7u_arrow_bs2u_rsarrow {
        compatible = "zmk,physical-layout";
        display-name = "ANSI(7U-ARROW)_BS(2U)_RSFT(ARROW)";
        transform = <&ansi_7u_arrow_bs2u_rsarrow_transform>;

        keys =    ROW0_FIXED , ROW0_BS_2U
                , ROW1_FIXED , ROW1_ANSI
                , ROW2_FIXED , ROW2_ANSI 
                , ROW3_ANSI  , ROW3_FIXED , ROW3_RS_ARROW
                , SPC_7U_ARROW;
    };

    // ANSI 7U ARROW BS 1U RSHIFT ARROW
    ansi_7u_arrow_bs1u_rsarrow_transform: ansi_7u_arrow_bs1u_rsarrow_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            RC(0,0) RC(1,0) RC(0,1) RC(1,1) RC(0,2) RC(1,2) RC(0,3) RC(1,3) RC(0,4) RC(1,4) RC(0,5) RC(1,5) RC(0,6) RC(1,6) 
            RC(2,0) RC(3,0) RC(2,1) RC(3,1) RC(2,2) RC(3,2) RC(2,3) RC(3,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(2,6) RC(3,6) 
            RC(4,0) RC(5,0) RC(4,1) RC(5,1) RC(4,2) RC(5,2) RC(4,3) RC(5,3) RC(4,4) RC(5,4) RC(4,5) RC(5,5)         RC(4,6) 
            RC(6,0)         RC(6,1) RC(7,1) RC(6,2) RC(7,2) RC(6,3) RC(7,3) RC(6,4) RC(7,4) RC(6,5) RC(7,5) RC(6,6) RC(7,6) 
            RC(8,0) RC(9,0) RC(8,1)                         RC(9,3)                         RC(9,5) RC(8,5) RC(9,6) RC(8,6) 
        >;
    };

    ansi_7u_arrow_bs1u_rsarrow: ansi_7u_arrow_bs1u_rsarrow {
        compatible = "zmk,physical-layout";
        display-name = "ANSI(7U-ARROW)_BS(1U)_RSFT(ARROW)";
        transform = <&ansi_7u_arrow_bs1u_rsarrow_transform>;

        keys =    ROW0_FIXED , ROW0_BS_1U
                , ROW1_FIXED , ROW1_ANSI
                , ROW2_FIXED , ROW2_ANSI 
                , ROW3_ANSI  , ROW3_FIXED , ROW3_RS_ARROW
                , SPC_7U_ARROW;
    };

    // ANSI 7U HHKB BS 1U RSHIFT 175U
    ansi_7u_hhkb_bs1u_rs175u_transform: ansi_7u_hhkb_bs1u_rs175u_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <10>;
        map = <
            RC(0,0) RC(1,0) RC(0,1) RC(1,1) RC(0,2) RC(1,2) RC(0,3) RC(1,3) RC(0,4) RC(1,4) RC(0,5) RC(1,5) RC(0,6) RC(1,6) RC(5,6)
            RC(2,0) RC(3,0) RC(2,1) RC(3,1) RC(2,2) RC(3,2) RC(2,3) RC(3,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(2,6) RC(3,6) 
            RC(4,0) RC(5,0) RC(4,1) RC(5,1) RC(4,2) RC(5,2) RC(4,3) RC(5,3) RC(4,4) RC(5,4) RC(4,5) RC(5,5)         RC(4,6) 
            RC(6,0)         RC(6,1) RC(7,1) RC(6,2) RC(7,2) RC(6,3) RC(7,3) RC(6,4) RC(7,4) RC(6,5) RC(7,5) RC(6,6) RC(7,6) 
                    RC(9,0) RC(8,1)                         RC(9,3)                                 RC(9,5) RC(9,6) 
        >;
    };

    ansi_7u_hhkb_bs1u_rs175u: ansi_7u_hhkb_bs1u_rs175u {
        compatible = "zmk,physical-layout";
        display-name = "ANSI(7U-HHKB)_BS(1U)_RSFT(1.75U)";
        transform = <&ansi_7u_hhkb_bs1u_rs175u_transform>;

        keys =    ROW0_FIXED , ROW0_BS_1U
                , ROW1_FIXED , ROW1_ANSI
                , ROW2_FIXED , ROW2_ANSI 
                , ROW3_ANSI  , ROW3_FIXED , ROW3_RS_175U
                , SPC_7U_HHKB;
    };
    
    layouts_this_position_map {
        compatible = "zmk,physical-layout-position-map";
        complete;

        position_map_all: position_map_all {
            physical-layout = <&layout_all>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14>
                , <15  16 17 18 19 20 21 22 23 24 25 26 27  28 >
                , < 29  30 31 32 33 34 35 36 37 38 39 40   41  >
                , < 42 43 44 45 46 47 48 49 50 51 52 53  54  55>
                , <56  57  58        59          60 61 62 63 64>;
        };

        // ANSI 7U BS 2U RSHIFT 1.75U
        pm_ansi_7u_bs2u_rs175u: pm_ansi_7u_bs2u_rs175u {
            physical-layout = <&ansi_7u_bs2u_rs175u>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 NO(0)>
                , <14 15 16 17 18 19 20 21 22 23 24 25 26 27>
                , <28 29 30 31 32 33 34 35 36 37 38 39 40>
                , <41 NO(1) 42 43 44 45 46 47 48 49 50 51 52 53>
                , <54 55 56 57 NO(2) 58 NO(3) 59 60>;
        };

        // ANSI 7U BS 1U RSHIFT 1.75U
        pm_ansi_7u_bs1u_rs175u: pm_ansi_7u_bs1u_rs175u {
            physical-layout = <&ansi_7u_bs1u_rs175u>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14>
                , <15 16 17 18 19 20 21 22 23 24 25 26 27 28>
                , <29 30 31 32 33 34 35 36 37 38 39 40 41>
                , <42 NO(0) 43 44 45 46 47 48 49 50 51 52 53 54>
                , <55 56 57 58 NO(1) 59 NO(2) 60 61>;
        };

        // ANSI 7U ARROW BS 2U RSHIFT ARROW
        pm_ansi_7u_arrow_bs2u_rsarrow: pm_ansi_7u_arrow_bs2u_rsarrow {
            physical-layout = <&ansi_7u_arrow_bs2u_rsarrow>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 NO(0)>
                , <14 15 16 17 18 19 20 21 22 23 24 25 26 27>
                , <28 29 30 31 32 33 34 35 36 37 38 39 40>
                , <41 NO(1) 42 43 44 45 46 47 48 49 50 51 52 53>
                , <54 55 56 57 NO(2) 58 59 60 61>;
        };

        // ANSI 7U ARROW BS 1U RSHIFT ARROW
        pm_ansi_7u_arrow_bs1u_rsarrow: pm_ansi_7u_arrow_bs1u_rsarrow {
            physical-layout = <&ansi_7u_arrow_bs1u_rsarrow>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14>
                , <15 16 17 18 19 20 21 22 23 24 25 26 27 28>
                , <29 30 31 32 33 34 35 36 37 38 39 40 41>
                , <42 NO(0) 43 44 45 46 47 48 49 50 51 52 53 54>
                , <55 56 57 58 NO(1) 59 60 61 62>;
        };

        // ANSI 7U HHKB BS 1U RSHIFT 1.75U
        pm_ansi_7u_hhkb_bs1u_rs175u: pm_ansi_7u_hhkb_bs1u_rs175u {
            physical-layout = <&ansi_7u_hhkb_bs1u_rs175u>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14>
                , <15 16 17 18 19 20 21 22 23 24 25 26 27 28>
                , <29 30 31 32 33 34 35 36 37 38 39 40 41>
                , <42 NO(0) 43 44 45 46 47 48 49 50 51 52 53 54>
                , <NO(1) 55 56 57 NO(2) 58 NO(3) 59 NO(4)>;
        };
        
    };
};
